
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Server Monitoring Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="container">
        <h1>Server Monitoring Dashboard</h1>
        <h2>Part 2 - CPU, Memory and Disk Monitoring</h2>

        <div class="cards">
            <div class="card">
                <h3>CPU Usage</h3>
                <p id="cpu">0%</p>
            </div>

            <div class="card">
                <h3>Memory Usage</h3>
                <p id="memory">0%</p>
            </div>

            <div class="card">
                <h3>Disk Utilization</h3>
                <p id="disk">0%</p>
            </div>
        </div>

        <p class="updated">Last Updated: <span id="time">--</span></p>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>

